<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>华润万家梦想王国销售及收银流水记账系统</title>
<!-- TemplateParam name="goodsid" type="boolean" value="true" -->
</head>

<body>
<form action="" method="post" name="">

<fieldset>
<legend>请在此输入当天的销售流水</legend>
  <table width="856" border="0" cellspacing="5">
      <tr>
      <th colspan="3" scope="row"><legend></legend>      </tr>
      <tr>
        <th width="84" scope="row"><div align="left">商品编码:</div></th>
        <td width="491"><select name="goodsid" style="width:300px;height=30px;font-size=30">
          
          
		{% for goods in goodsinfo %}
        		 
          
          <option value={{goods.vgno}} size=15>{{goods.vgno}}_{{goods.goodsname}}</option>
          
          
		{% endfor %}
	
        
        </select>        </td>
        <td width="255" rowspan="5" valign="middle"><img src="/static/img/vanguard.jpg" width="255" height="153"></td>
      </tr>
      <tr>
        <th valign="middle" scope="row"><div align="left">销售金额:</div></th>
        <td><input type=text name="sales_amount" style="width:300px;height=20px;font-size:50"/></td>
      </tr>
      <tr>
        <th scope="row"><div align="left"></div></th>
        <td>如销售金额为100.50元，输入100.50即可,最多不超过两位小数!</td>
      </tr>
      <tr>
        <th scope="row"><div align="left"></div></th>
        <td><h3 color=red>{{inputmsg}}</h3>        </td>
      </tr>
      <tr>
        <th scope="row"><div align="left"></div></th>
        <td><input name="submit" type=submit style="height:40px;width:100px"/ onclick="javascript:return confirm('请检查您输入的编码及金额是否正确？');" value="提 交"></td>
      </tr>
  </table>
</fieldset>
<br>
<fieldset>
<legend>预览提示框</legend>
<br>尊敬的 {{username}} 欢迎登录到 {{shopid}} 店梦想王国收银系统. 您的登录IP为:{{ip}}
<br>
{{paymsg}}
<br>
</fieldset>
</form>
<fieldset>
<legend>当日销售流水【当天销售总额:{{sale_sum}}】【当天收银总额:{{pay_sum}}】</legend>
<br>
<table width="500" border="0" align="left" bordercolor="#F0F0F0" bgcolor="#CCCCCC">
<tr bgcolor="#FF66FF">
    <td height="30"> <div align="center">日期</div></td><td height="30"><div align="center">时间</div></td>  <td height="30"><div align="center">商品编码</div></td><td height="30"><div align="center">金额</div></td>
	</tr>

	{% for entry in entries %}
  <tr bgcolor="#FFCC99">
    <td><div align="center">{{ entry.dt }}</div></td>
    <td><div align="center">{{ entry.time }}</div></td>
    <td><div align="center">{{entry.use_goodsno}}</div></td>
    <td><div align="center">{{entry.item_value}}</div></td>
  </tr>
  {% endfor %}
</table>
<br>
</fieldset>
<!--
<br>
<a href ='/payfor'>点此进入收银金额录入界面</a>
<br>
-->


</body>
</html>


