<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>梦想王国收银登录</title>
<!-- TemplateParam name="shopid" type="boolean" value="true" -->
</head>

<body>
<form action="" method="post">

<br>

<fieldset>
    <legend>梦想王国收银登录</legend>
<p>
  <table width="400" height="30" border="0" cellspacing="10">
    <tr>
        <th scope="row"><div align="left">请选择您所在的门店:</div></th>
        <td><div align="left">
          <select name="shopid">
            
     
        
      
{% for shop in myshop %}

      
        
          
            <option value={{shop.shopid}}> {{shop.mwid}}:{{shop.mwname}}</option>
            
          
        
      
{% endfor %}

shopid:{{shopid}}


    
      
        
          </select>
        </div></td>
      </tr>
      <tr>
        <th scope="row"><div align="left">收银员编码:</div></th>
        <td><div align="left">
          <input type=text name="username" />
        </div></td>
      </tr>
      <tr>
        <th scope="row"><div align="left">登录密码:</div></th>
        <td><div align="left">
          <input type=password name="password" />
        </div></td>
      </tr>
    </table>
	<p><input type=submit style="height:30px;width:100px" value="登录" />
        </p>
</fieldset>

<br>
<br>
<fieldset>
    <legend>信息框</legend>
<br>{{remsg}}
<br>
{{username}}
{{shopid}}
{{ip}}
<br>
{{msg}}

</form>
</body>
</html>


